html {
  height: 100%;
}

body {
   width: 100%;
   height: 100%;
   background-color: #0D4EFF;
   color: #BDB9B7;
   margin-left: 5%;
}

header {
    padding: 5px;
    font-size: ;
    display: block;
}

nav {
    float: left;
    background-color: #1051FF;
    border-width: 5px;
    border-style: solid;
    border-color: grey;
    width: 150%;
    margin-bottom: 30px;
    margin-left: -8%;
    padding-left: 2%;
    height: 10%;
}
   nav ul {
       padding: 2px;
       float: left;
       border: 2px;
   }

   nav li {
       float: left;
        list-style-type: none;
   }

   nav li a {
       display: block;
       height: 25px;
       padding: 12px 18px 8px 18px;
      vertical-align: middle;
      color: black;
   }

   a {
    color: black;
   }

   section {
       width: 800px;
       display: inline-block;
       font-size: 22px;
       float: left;
   }

   aside {
       width: 17%;
       display: inline-block;
       background-color: green;
       padding: 5px;
       min-height: 100%;
   }

   aside ul {
       list-style-type: none;
   }

   footer {
       width: 790px;
       color: white;
       clear: both;
       display: block;
   }
   .imgDiv {
     margin-left: 250px;
   }

   .headerDiv {
      margin-left: 150px
   }
